

body {
  overflow-x: hidden; /* Hide horizontal scrollbar */
 /*margin: 0;
 background-image: url('../img/test-bg.jpeg');
 background-size: 1920px 1080px;
 background-repeat:no-repeat;*/
}

h1 {
    text-align: center;
}

#section1 {
  background-image: url('../img/test-bg.jpeg');
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center;
}

#section1 .fp-tableCell {
    vertical-align: top;
}

#section2 {
  background-image: url('../img/test-bg3.jpeg');
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center;
  /*background: #BA8B02; /* For browsers that do not support gradients
  background: -webkit-linear-gradient(left, #181818, #BA8B02); /* For Safari 5.1 to 6.0
  background: -o-linear-gradient(right, #181818, #BA8B02); /* For Opera 11.1 to 12.0
  background: -moz-linear-gradient(right, #181818, #BA8B02); /* For Firefox 3.6 to 15
  background: linear-gradient(to right, #181818, #BA8B02); /* Standard syntax
  color: white;*/
}

#section2 .fp-tableCell {
    vertical-align: top;
}

#slide1 {
  background: #42a4f4;
}
#slide2 {
  background: #42f495;
}
#slide3 {
  background: #6A7F71;
}

.has-error .control-label {
  color: white;
}

.has-success .control-label {
  color: white;
}

.slide {
  width: auto
}
@media (max-width: 767px) {
  .pull-xs-center {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 768px) {
  #section1 {
    padding-top: 60px;
  }
  #section1 h1 {
    font-size: 60px;
  }
  #section1 p {
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #section2 {
    padding-top: 100px;
  }
}

@media (max-width: 991px) {}
@media (min-width: 992px) {}

@media (max-width: 1199px) {}
@media (min-width: 1200px) {}

  /*
  @media (max-width: $screen-xs-max) {
      .pull-xs-left {
          float: left;
          text-align: left;
      }
      .pull-xs-center {
          float: center;
          text-align: center;
      }
      .pull-xs-right {
          float: right;
          text-align: right;
      }

  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      .pull-sm-left {
          float: left;
          text-align: left;
      }
      .pull-sm-center {
          float: center;
          text-align: center;
      }
      .pull-sm-right {
          float: right;
          text-align: right;
      }
  }

  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
      .pull-md-left {
          float: left;
          text-align: left;
      }
      .pull-md-center {
          float: center;
          text-align: center;
      }
      .pull-md-right {
          float: right;
          text-align: right;
      }
  }

  @media (min-width: $screen-lg-min) {
      .pull-lg-left {
          float: left;
          text-align: left;
      }
      .pull-lg-center {
          float: center;
          text-align: center;
      }
      .pull-lg-right {
          float: right;
          text-align: right;
      }
  }
  */
