

body {
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

h1 {
    text-align: center;
}

#section1 {
  background-image: url('../img/test-bg.jpeg');
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center;
}

#section1 .fp-tableCell {
    vertical-align: top;
}

#section2 {
  background-image: url('../img/test-bg3.jpeg');
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center;
}

#section2 .fp-tableCell {
    vertical-align: top;
}

#section3 {
  font-family: system, -apple-system, BlinkMacSystemFont,
      "Helvetica Neue", "Lucida Grande";
}

#slide1 {
  background-image: url('../img/test-bg4_op50.jpeg');
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center;
}

#slide1 .fp-tableCell {
    vertical-align: top;
}

#slide2 {
  background: rgb(239, 239, 244);
}

#slide2 .header-row {
  background: rgb(239, 239, 244);
}

#slide2 h4 {
  text-align: center;
}

#slide2 li {
  padding: 0px;
  border: 0px;
}

#slide2 .btn-md {
  border-color: rgb(240, 240, 240);
  border-radius: 0;
  border-left-width: 0px;
  border-right-width: 0px;
  background-color: white;
  text-align: left;
}

#slide2 .list-group {
  overflow-y: auto;
}

#slide2 .fp-tableCell {
    vertical-align: top;
}

.has-error .control-label {
  color: white;
}

.has-success .control-label {
  color: white;
}

@media (max-width: 767px) {
  .pull-xs-center {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 768px) {
  #section1 .container {
    padding-top: 60px;
  }
  #section1 h1 {
    font-size: 60px;
  }
  #section1 p {
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #section2 .container {
    padding-top: 100px;
  }

  #slide1 h1 {
    font-size: 60px;
  }
  #slide1 p {
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media (max-width: 991px) {}
@media (min-width: 992px) {}

@media (max-width: 1199px) {}
@media (min-width: 1200px) {}

  /*
  @media (max-width: $screen-xs-max) {
      .pull-xs-left {
          float: left;
          text-align: left;
      }
      .pull-xs-center {
          float: center;
          text-align: center;
      }
      .pull-xs-right {
          float: right;
          text-align: right;
      }

  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      .pull-sm-left {
          float: left;
          text-align: left;
      }
      .pull-sm-center {
          float: center;
          text-align: center;
      }
      .pull-sm-right {
          float: right;
          text-align: right;
      }
  }

  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
      .pull-md-left {
          float: left;
          text-align: left;
      }
      .pull-md-center {
          float: center;
          text-align: center;
      }
      .pull-md-right {
          float: right;
          text-align: right;
      }
  }

  @media (min-width: $screen-lg-min) {
      .pull-lg-left {
          float: left;
          text-align: left;
      }
      .pull-lg-center {
          float: center;
          text-align: center;
      }
      .pull-lg-right {
          float: right;
          text-align: right;
      }
  }
  */
